@model NationalUnion.Application.ViewModels.ManagerAccount
@{
    ViewBag.Title = "AccountPwd";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<div class="mvctool bgb">
    <a id="btnSave" style="float: left;" class="l-btn l-btn-plain">
        <span class="l-btn-left"><span class="l-btn-text icon-save" style="padding-left: 20px;">保存</span></span>
    </a>
</div>
<div id="mes" class="field-validation-error"></div>

@using (Html.BeginForm("AccountPwd", "Home", null, FormMethod.Post, new { Id = "AccountPwdForm" }))
{
    @Html.ValidationSummary(true);
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.ManagerId)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ManagerId , new { style = "width: 200px;", @readonly = true })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ManagerId)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.ManagerName)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ManagerName, new { style = "width: 200px;", @readonly = true })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ManagerName)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.OldPwd)：
                </td>
                <td>
                    @Html.PasswordFor(model => model.OldPwd, new { style = "width: 200px;" })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.OldPwd)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.ResetPwd)：
                </td>
                <td>
                    @Html.PasswordFor(model => model.ResetPwd, new { style = "width: 200px;" })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ResetPwd)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.ResetPwdSec)：
                </td>
                <td>
                    @Html.PasswordFor(model => model.ResetPwdSec, new { style = "width: 200px;" })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ResetPwdSec)
                </td>
            </tr>
        </tbody>
    </table>
}

<script type="text/javascript">
    $(function () {
        $("#btnSave").click(function () {
            $.ajax({
                url: "/Home/AccountPwd",
                type: "POST",
                data: $("#AccountPwdForm").serialize(),
                dataType: "json",
                success: function (msg) {
                    if (msg.Res) {
                        window.parent.frameReturnByMes("成功");
                        window.parent.frameReturnByClose();
                    } else {
                        $("#mes").html(msg.Msg);
                        window.parent.frameReturnByMes("失败");
                    }
                }
            });
        });
    });
</script>
