@model NationalUnion.Application.ViewModels.ManagerAccount
@{
    ViewBag.Title = "DetailManager";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

@using (Html.BeginForm("DetailManager", "ManagerAccount", null, FormMethod.Post, new { Id = "DetailManagerForm" }))
{
    @Html.ValidationSummary(true);
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.ManagerId)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ManagerId, new { style = "width: 200px;", @readonly = true })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ManagerId)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.ManagerName)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ManagerName, new { style = "width: 200px;", @readonly = true })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ManagerName)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.ManagerEmail)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ManagerEmail, new { style = "width: 200px;", @readonly = true })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ManagerEmail)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.MobilePhone)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.MobilePhone, new { style = "width: 200px;", @readonly = true })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.MobilePhone)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.IdCardNo)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.IdCardNo, new { style = "width: 200px;", @readonly = true })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.IdCardNo)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.ChannelName)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ChannelName, new { style = "width: 200px;", @readonly = true })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ChannelName)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.ProvinceId)：
                </td>
                <td>
                    @Html.DropDownList("ProvinceId", (List<SelectListItem>)ViewData["ProvList"], new { style = "width:208px; height:22px;" })
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.CityId)：
                </td>
                <td>
                    @Html.DropDownList("CityId", (List<SelectListItem>)ViewData["CityList"], new { style = "width:208px; height:22px;" })
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.IsActiveStr)：
                </td>
                <td>
                    @Html.DropDownList("IsActiveStr", (List<SelectListItem>)ViewData["Status"], new {style="width:208px; height:22px;"})
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.CreatedTime)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CreatedTime, new { style = "width: 200px;", @readonly = true })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.CreatedTime)
                </td>
            </tr>
            <tr>
                <td style="width: 100px; text-align: right;">
                    @Html.LabelFor(model => model.ModifiedTime)：
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModifiedTime, new { style = "width: 200px;", @readonly = true })
                </td>
                <td>
                    @Html.ValidationMessageFor(model => model.ModifiedTime)
                </td>
            </tr>
        </tbody>
    </table>
}
